
/* Fonts */
.montserrat-500 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.montserrat-700 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.fraunces-700 {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
  }

/* Reset all elements padding and margins for greater control later on */
* {
    padding: 0;
    margin: 0;
}

:root {
    /* Primary Colours */
    --col-pri-green500: hsl(158, 36%, 37%);
    --col-pri-green700: hsl(158, 42%, 18%);

    /* Neutral Colours */
    --col-neu-black: hsl(212, 21%, 14%);
    --col-neu-grey: hsl(228, 12%, 48%);
    --col-neu-cream: hsl(30, 38%, 92%);
    --col-neu-white: hsl(0, 0%, 100%);

    /* Default Font Settings */
    --fnt-size: 14px;
    font-size: var(--fnt-size);
    
    font-family: "Montserrat", serif;
    font-weight: 500;

    background-color: var(--col-neu-cream);

}


/* Attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }